.recent-articles {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  height: 80vh;
}

.articles-section {
  background-color: #1F1F1F;
  padding: 20px 0;
}

.articles-section-title {
  font-size: 2.5em;
  margin-bottom: -40px;
  margin-left: 70px;
  font-weight: 700 !important;
}

.main-articles {
  width: 60vw;
}

.other-articles {
  margin-left: 40px;
  width: 95%;
}

.other-articles1 {
  margin-left: 40px;
  width: 40%;
}

.articles-content {
  margin: auto;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 150px;
  height: 120px;
  border-radius: 1rem;
  object-fit: cover;
}



  .slide-content {
    width: 60%;
    height: auto;
    margin-left: 10px;
    text-align: left;
    
  }

@media (max-width: 400px) {
.slide-content {
  width: 100%;
  height: auto;
  margin-left: 10px;
  text-align: left;
  margin-right: 10px;
  
}
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  .slide-content {
    width: 100%;
    height: auto;
    margin-left: 10px;
    text-align: left;
    margin-right: 10px;
    
  }
}


.swiper-slide-content-img {

  width: 100%;
    height: auto;
}

.slide-content-img {
 /* background-image: url(https://www.ole.com.ar/images/2022/05/04/TCTfnbeU7_340x340__1.jpg);
  background-repeat: no-repeat;
  width: 40%;
  height: 100%;*/
  margin-left: 10px;
  /* text-align: left; */
  /*background-size: cover;
  border-radius: 1rem;*/
}



.slide-content-tittle {
  margin: 0;
  font-size: 32px;
}

.slide-content-sub_tittle{
  font-size: 23px;
}

.slide-content-text {
  margin: 0;
  font-size: 0.6em;
  text-align: justify;
  line-height: 20px;

}

.swiper-slide.main-slide {
  width: 100%;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide.main-slide img {
  display: block;
  width: 100%;
  height: 80%;
  border-radius: 1rem;
  object-fit: cover;
  margin-top: -24px;
}

.main-slide-content-tittle {
  margin: 0;
  width: 100%;
  margin-left: 10px;
  text-align: left;
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 20px;
}

@media (max-width: 1000px){
  .recent-articles {
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
  .otherSwipper {
    
  }
}