.articles-container {
  display: flex;
  transform: translateY(-300px);
  justify-content: center;
  flex-wrap: wrap-reverse;
  z-index: 200;
  position: relative;
}

.article {
  flex-basis: 400px;
  color: #fff;
}

.articles-section-title {
  text-align: center;
  color: rgba(0, 0, 0, 0.795);
}

.articles-section p {
  text-align: center;
  font-size: 1rem;
  margin: 20px 0;
  padding: 0 10px;
}

.articles-category {
  background-color: rgba(12, 12, 12, 0.219);
  width: 90%;
  height: 2px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.articles-category a {
  color: #fff;
  background-color: rgb(241, 115, 56);
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.articles-category a:hover {
  background-color: rgb(255, 129, 71)
}
.articles-section {
  flex-basis: 400px;
  flex-grow: 1;
}
.articles-column-one {
  padding: 20px;
  flex-basis: 400px !important;
}

.articles-column-one h1, .popular-articles h1 {
  margin: 20px 0;
}

.popular-articles {
  margin-top: 50px;
}

.search-input {
  height: 50px;
  width: 90%;
  border: 2px solid rgb(28, 94, 192);
  padding-left: 20px;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}

.articles-category-left, .articles-category-right {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.articles-category {
  margin-bottom: 100px;
}

.more-articles {
  font-size: 1rem;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(0, 102, 255);
  margin-bottom: 100px;
  display: inline-block;
  margin: 0 auto;
}

.more {
  display: flex;
  margin: 50px 0;
}

@media (max-width: 850px) {
  .articles-column-one h1 {
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .articles-container {
    margin-top: -200px !important;
  }
  .articles-column-one {
    margin-bottom: 900px;
  }
}

@media (max-width: 625px) {
  .articles-category a {
    font-size: 12px;
  }
  .articles-column-one {
    background-color: rgba(14, 14, 14, 0.781);
    color: #fff;
    margin-top: 50px;
    border-radius: 10px;
  }
  .articles-column-one input  {
    display: none;
  }
}

@media (max-width: 490px) {
  .articles-container {
    transform: translateY(1000px);
  }
}

@media(max-width: 480px){
  .articles-container {
    margin-top: -1000px !important;
  }
}