.be-media-contact {
  width: 50%;
  font-size: 1rem;
  margin: 0 auto;
}

.be-media-contact form {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 0 50px;
  background-color: green !important;
}


.be-media-contact-title {
  text-align: center;
}

.be-media-contact button {
  background-color: rgb(41, 108, 235);
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  margin: 20px 0;
  float: right;
}

@media(max-width: 590px){
  .be-media-contact {
    width: 70%;
  }
}