.dropdown {
  margin-top: 10px;
  background-color: #A1862B;
  padding: 10px;
}

.dropdown-title {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.dropdown-title img {
  margin-right: 20px;
  transition: .3s transform;
}

.dropdown-title h4 {
  font-weight: 700;
}

.dropdown-content {
  height: 0;
  overflow: scroll;
  transition: .5s height;
  font-size: 1rem;
}

.open-dropdown {
  height: 50px;
}

.rotate-arrow {
  transform: rotate(180deg);
}

.link-blue {
  color: rgb(39, 112, 221)
}
.news{
  display: flex;
  gap: 20px;
  align-items: center;
}

.main-article{
  width: 40vw;
}
.articles-section-title {
  margin-left: 15px;
}

.articles {
  margin-top: 20px;
}
.articles .card {
  background: transparent;
  border: none;
}
.articles .card img {
  border-radius: 20px;
}
.carousel-item img {
  border-radius: 20px;
}
.article {
  position: relative;
  flex-basis: 300px;
}

.article-img img {
  width: 100%;
  filter: grayscale(30%);
}

.article-category, .article-title {
  position: absolute;
}

.article-category {
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.article-category h5 {
  background-color: rgba(19, 80, 194, 0.596);
  padding: 5px;
  border-radius: 5px;
}

.article-category h5:not(:first-child) {
  margin-top: -5px;
}

.article-title {
  top: 0;
  width: 100%;
  font-size: 1.2rem;
  padding: 20px;
}

.article-left {
  display: flex;
  float: left;
  margin-left: -9px;
  width: 78%;
}

.article-right {
  display: flex;
float: right;
margin-top: 2px;
font-size: 55px;
font-weight: 900;
margin-right: -7px;
}
.article-right-mini {
  display: flex;
  float: right;
  margin-top: 9px;
  font-size: 10px;
  margin-right: -7px;
}

@media (max-width: 950px) {
  .articles-title {
    text-align: center;
  }

  .article-title {
    font-size: 20px;
  }
}

@media (max-width: 350px){
  .article {
    flex-basis: 250px;
    height: 300px;
  }

  .article-title {
    background-color: rgba(255, 255, 255, 0.932);
    color: rgb(51, 50, 50);
  }
}

.bussines-info {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 20px;
}

@media (max-width: 550px) {
  .bussines-info {
    grid-template-columns: 1fr 1fr;
  }
  .info-item {
    margin-top: 20px;
    font-size: 14px;
  }
}

@media (max-width: 370px) {
  .bussines-info {
    grid-template-columns: 1fr 1fr;
  }
  .info-item h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
  }

  .paragraph-xlarge {
    font-size: 15px !important;
  }
}

.be-media-paragraph {
  margin-top: 20px; 
  font-size: 17px;
}

.job-row-two {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  color: rgb(27, 27, 27);
}

.job-row-two input {
  margin-right: 10px;
}

.job {
  background-color: rgb(27, 27, 27);
  width: 100%;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

.job-mode {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.form-group {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.job-image img {
  width: 100%;
  height: 100%;
}

.job-image {
  width: 100px;
}

.job-info {
  display: flex;
}
.job-info-empresa {
  margin-left: 20px;
}

.job-info-right {
  display: flex;
  align-items: center;
}

.job-info-right .job-location {
  margin-right: 100px;
}

.job-time-work, .job-empresa {
  color: rgb(0, 174, 255);
}

@media (max-width: 730px){
  .job-info-right {
    flex-direction: column;
    text-align: center;
  }
  .job-info-right .job-location {
    margin-right: 0;
  }
}

@media (max-width: 590px){
  .job, .job-info {
    flex-direction: column;
    text-align: center;
  }
  .job-info .job-image {
    object-fit: contain;
    height: 100px;
    width: 200px;
    margin: 0 auto;
  }

  .job-info-empresa {
    margin-left: 0;
  }
}
.qlqwa {
  display: flex !important;
}
.editions-card-2 {
  margin: 10px;
}
.editions-card-2 img {
  border-radius: 20px;
}
.be-media-dropdown .dropdown {
  border-radius: 50px;
  padding: 10px 0 5px 25px;
}
.titulo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85px;
}

.stripe1{
  background-color: #ee9610;
  height: 40px;
  margin-top: 94px;
  width: 48%;
  margin-left: 178px;
  transform: skew(-30deg);
}

.f1{
  background-color: #EE9610;
  height: 40px;
  width: 51px;
  margin-right: -21px;
  float: right;
  margin-top: -40px;
}


.stripe2{
  background-color: #ee9610;
  height: 40px;
  margin-top: 0px;
  width: 50%;
  margin-left: -9px;
  transform: skew(-30deg);
}

.stripe3{
  background-color: #ee9610;
  height: 61px;
  margin-top: 25px;
  width: 60%;
  margin-left: -31px;
  transform: rotate(-90deg) skew(-26deg);
  -ms-transform: rotate(-90deg) skew(-26deg);
  -webkit-transform: rotate(-90deg) skew(-26deg);
  border-radius: 10px 0 0 0;
}

.f2{
  background-color: #ee9610;
  height: 40px;
  width: 51px;
  margin-left: -20px;
  float: left;
  margin-top: -40px;
}

.f3{
  background-color: #EE9610;
  height: 40px;
  width: 60px;
  margin-right: -25px;
  float: left;
  margin-top: 4px;
  position: absolute;
  margin-left: -1px;
  border-radius: 0 0px 0px 42px;
}

.text-article{
  position: absolute;
  top: 162px;
  font-size: 1.0rem;
  font-style: italic;
  color: #000;
  font-weight: 900;
}

.text-article1{
  position: absolute;
  bottom: 41px;
  font-size: 1.0rem;
  font-style: italic;
  color: #000;
  font-weight: 900;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  left: 0px;
  bottom: 40px;
  width: 100%;
}

.article-img1{
  background-image: url("https://busenq.com/wp-content/uploads/2021/05/messi-e1666311691527.png");
  /*background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  height: 50px;*/
  background-repeat: no-repeat;
    background-size: cover;
    height: 305px;
    margin-top: -38px;
    border-radius: 0 0px 42px 42px;
    width: 371px;
    margin-left: -20px;
}

.article-img2{
  background-image: url(https://busenq.com/wp-content/uploads/2021/05/messi-e1666311691527.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 202px;
  margin-top: 128px;
  border-radius: 42px;
  width: 462px;
  margin-left: -131px;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.filterDiv1 {
  float: left;
  background-color: #292929;
  color: #ffffff;
  width: 370px !important;
  line-height: 25px;
  text-align: left;
  margin: 2px;
  display: none;
  border-radius: 40px;
  height: 460px;
}

.filterDiv2 {
  float: left;
  background-color: #292929;
  color: #ffffff;
  width: 200px !important;
  line-height: 25px;
  text-align: left;
  margin:  2px 2px 2px 30px;
  display: none;
  border-radius: 40px;
  height: 460px;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btna {
  border: none;
  outline: none;
  padding: 7px 16px;
  background-color: #f1f1f12e !important;
  cursor: pointer;
  border-radius: 50px;
  color: #ffff !important;
  margin: 15px;
  width: 115px;
  height: 40px;
}

.btna_c {
  border: none;
  outline: none;
  padding: 7px 16px;
  background-color: #f1f1f12e !important;
  cursor: pointer;
  border-radius: 50px;
  color: #ffff !important;
  margin: 15px;
  width: 85px;
  height: 40px;
}

.btna:hover {
  background-color: #ddd;
}

.btna.active {
  background-color: #666;
  color: white;
}


.myBtnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -34px 0px 60px 0px;
}
.articles-section1{
background-color: #010101;
    padding: 55px 0;
}


.articles-title{
  /*font-size: 4em; 
  margin-bottom: -40px;
  margin-left: 70px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 100px 10px 0px 10px;
  color: #fff;
  line-height: 64px;
  text-align: center;*/
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 40px 10px 0px 10px;
  text-align: center;
}

.articles-title1{
  font-size: 0.82em !important;
}
.search-input{
  border: solid #191919;
  padding: 12px 20px 10px 5px;
  margin: 12px 0px;
  width: 265px;
  background: #ABABAB;
  color: #191919;
  outline-color: transparent;
  border-radius: 30px;
  text-align: left;
  font-style: italic;
}

.search-input:hover{
  border-color: solid #191919;
  box-shadow: 0 0 0 5px #191919;
}

.search{
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-search {
  position: absolute;
  /*top: 50%;
  left: 50%;*/
  cursor: pointer;
  background: #C6A12D !important;
  border-radius: 30px;
  color: #ffff !important;
  height: 47px;
  width: 47px;
  /*margin: 44px 0 0 -19.9%;*/
  display: inline-block;
  margin: 14px -38px;
}

.btn-return {
  width: 50px;
  height: 48px;
  background: #E0BC4C;
  opacity: 0.84;
  border-radius: 18px;
}

.myBtnContainer1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_search{
  width: 20px;
}