.epyt-debug{
    cursor:pointer;
    text-align:left;
    background-color:#ddd;
    color:#000
}
iframe.__youtube_prefs__{
    border-width:0
}
.epyt-gallery{
    text-align:center
}
.epyt-gallery .epyt-figure{
    margin-inline:0;
    margin-block:0
}
.epyt-gallery iframe{
    margin-bottom:0
}
.epyt-gallery.epyt-lb iframe{
    display:none;
    height:0!important
}
.epyt-gallery-list{
    margin:0 -8px 0 -8px;
    position:relative;
    transition:opacity ease-out .3s;
    display:block;
    height: auto;
}
.epyt-gallery-list .epyt-gallery-thumb{
    box-sizing:border-box
}
.epyt-gallery-list p{
    display:none
}
.epyt-gallery-clear{
    clear:both
}
.epyt-gallery-list.epyt-loading{
    opacity:.5;
    transition:opacity ease-out .3s
}
.epyt-gallery-thumb{
    position:relative;
    box-sizing:border-box;
    overflow-y:hidden;
    display:block!important;
    cursor:pointer;
    opacity:1;
    /*float:left;*/
    padding:0 8px 10px 8px;
    height:auto
}
.epyt-gallery-thumb.hover{
    position:relative;
    opacity:1;
    transition:opacity ease-out .3s;
    height:auto
}
.epyt-gallery-img-box{
    width:100%
}
.epyt-gallery-img{
    height:0;
    width:100%;
    padding-top:56.25%!important;
    position:relative;
    overflow:hidden!important;
    background-size:cover!important;
    background-position:center!important;
    border-radius: 18px;
    width: 155px;
    height: 120px;
}
.epyt-gallery-playhover{
    opacity:0;
    position:absolute;
    top:-10px;
    left:0;
    width:100%;
    height:100%;
    vertical-align:middle;
    text-align:center;
    transition:opacity ease-out .3s
}
.epyt-gallery-thumb.hover .epyt-gallery-playhover,.epyt-gallery-thumb.epyt-current-video .epyt-gallery-playhover{
    opacity:1;
    top:0;
    transition:all ease-out .3s
}
.epyt-gallery-thumb .epyt-gallery-playcrutch{
    display:inline-block;
    height:100%;
    vertical-align:middle;
    width:0
}
.epyt-gallery-playhover .epyt-play-img{
    height:auto!important;
    max-width:15%!important;
    padding:0!important;
    margin:0!important;
    min-width:30px!important;
    vertical-align:middle!important;
    display:inline-block!important;
    width:auto;
    border:0;
    box-sizing:border-box
}
.epyt-gallery-title-d{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;

}
.epyt-gallery-title-d-a{
    border-radius: 7px;
    width: 93px;
    height: 34px;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    color: #000000;
    margin-left: 20px;
}

.color-yellow{
    background: #C6A12D;
}

.color-purple{
    background: #FA02FF;
}


.color-green{
    background: #009229;
}


.color-red{
    background: #FD0000;
}

#FA02FF

.title-bemedia{ 
    /*font-family: 'Inter';*/
    /*font-style: normal;*/
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    color: #FFFFFF;
    text-align: left;
    margin: 40px auto 30px;
    width: 80%;
}

.epyt-gallery-notitle{
    padding:4px
}
.epyt-gallery-notitle span{
    display:none
}
.epyt-gallery-rowtitle{
    text-align:center;
    width:100%;
    position:absolute;
    left:0;
    top:100%;
    opacity:0;
    z-index:10;
    overflow-x:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.epyt-gallery-rowtitle.hover{
    opacity:1;
    transition:opacity linear .2s
}
.epyt-gallery-rowbreak{
    clear:both
}
.epyt-pagination{
    clear:both;
    text-align:center;
    padding:10px 8px 10px 8px
}
.epyt-pagination.epyt-hide-pagination *{
    display:none!important
}
.epyt-pagination>div,.epyt-pagenumbers>div{
    display:inline-block;
    padding:0 2px 0 2px;
    vertical-align:middle
}
.epyt-pagination .epyt-pagebutton{
    cursor:pointer;
    display:inline-block;
    padding:0 10px 0 10px
}
.epyt-pagebutton>div{
    display:inline
}
.epyt-pagination .epyt-loader{
    display:none
}
.epyt-gallery-list.epyt-loading .epyt-pagination .epyt-loader{
    display:inline-block
}
body .lity-container{
    width:100%;
    max-width:964px
}
.epyt-curtain .lity-opened iframe{
    opacity:0;
    transition:opacity .3s linear .5s
}
.epyt-gallery-allthumbs.epyt-cols-1 .epyt-gallery-thumb{
    width:100%;
    padding: 10px 30px;
}
.epyt-gallery-allthumbs.epyt-cols-2 .epyt-gallery-thumb{
    width:50%
}
.epyt-gallery-allthumbs.epyt-cols-3 .epyt-gallery-thumb{
    width:33.333%
}
.epyt-gallery-allthumbs.epyt-cols-4 .epyt-gallery-thumb{
    width:25%
}
.epyt-gallery-allthumbs.epyt-cols-5 .epyt-gallery-thumb{
    width:20%
}
.epyt-gallery-allthumbs.epyt-cols-6 .epyt-gallery-thumb{
    width:16.666%
}
.epyt-gallery-allthumbs.epyt-cols-7 .epyt-gallery-thumb{
    width:14.285%
}
.epyt-gallery-allthumbs.epyt-cols-8 .epyt-gallery-thumb{
    width:12.5%
}
.epyt-gallery-allthumbs.epyt-cols-9 .epyt-gallery-thumb{
    width:11.111%
}
.epyt-gallery-allthumbs.epyt-cols-10 .epyt-gallery-thumb{
    width:10%
}
.epyt-gallery-allthumbs.epyt-cols-11 .epyt-gallery-thumb{
    width:9.090%
}
.epyt-gallery-allthumbs.epyt-cols-12 .epyt-gallery-thumb{
    width:8.333%
}
.epyt-gallery-allthumbs.epyt-cols-13 .epyt-gallery-thumb{
    width:7.692%
}
.epyt-gallery-allthumbs.epyt-cols-14 .epyt-gallery-thumb{
    width:7.142%
}
.epyt-gallery-allthumbs.epyt-cols-15 .epyt-gallery-thumb{
    width:6.666%
}
.epyt-gallery-allthumbs.epyt-cols-16 .epyt-gallery-thumb{
    width:6.25%
}
.epyt-gallery-allthumbs.epyt-cols-17 .epyt-gallery-thumb{
    width:5.882%
}
.epyt-gallery-allthumbs.epyt-cols-18 .epyt-gallery-thumb{
    width:5.555%
}
.epyt-gallery-allthumbs.epyt-cols-19 .epyt-gallery-thumb{
    width:5.263%
}
.epyt-gallery-allthumbs.epyt-cols-20 .epyt-gallery-thumb{
    width:5%
}
.epyt-pagebutton.hide,.epyt-pagenumbers.hide{
    display:none!important;
    opacity:0!important;
    visibility:hidden!important
}
.epyt-gallery-subscribe{
    text-align:center;
    padding:15px 0 10px 0;
    clear:both
}
.epyt-gallery-subscribe a.epyt-gallery-subbutton,.epyt-gallery-subscribe a.epyt-gallery-subbutton:hover{
    display:inline-block;
    padding:5px 10px;
    background-color:#e62117!important;
    color:#fff!important;
    text-decoration:none!important;
    border-radius:3px
}
.epyt-gallery-subscribe a.epyt-gallery-subbutton img{
    width:20px!important;
    height:auto!important;
    vertical-align:middle!important;
    padding:0 6px 3px 0;
    display:inline-block;
    background:transparent;
    -webkit-box-shadow:none;
    box-shadow:none;
    margin:0
}
body div.__youtube_prefs__.__youtube_prefs_gdpr__{
    background-color:#000;
    background-image:-webkit-linear-gradient(top,#000,#444);
    background-image:linear-gradient(to bottom,#000,#444);
    padding:25px;
    height:auto;
    text-align:left
}
body div.__youtube_prefs__.__youtube_prefs_gdpr__ *{
    color:#e3e3e3!important
}
body div.__youtube_prefs__.__youtube_prefs_gdpr__ a{
    text-decoration:underline
}
body div.__youtube_prefs__.__youtube_prefs_gdpr__ button.__youtube_prefs_gdpr__,body div.__youtube_prefs__.__youtube_prefs_gdpr__ button.__youtube_prefs_gdpr__:hover{
    display:inline-block;
    padding:5px 10px;
    background:#e62117!important;
    color:#fff!important;
    text-decoration:none!important;
    border-radius:3px;
    font-weight:normal;
    border-width:0;
    box-sizing:border-box
}
body div.__youtube_prefs__.__youtube_prefs_gdpr__ button.__youtube_prefs_gdpr__ img{
    width:20px!important;
    height:auto!important;
    vertical-align:middle!important;
    padding:0 6px 3px 0;
    display:inline-block;
    background:transparent;
    -webkit-box-shadow:none;
    box-shadow:none;
    margin-left:8px
}
body .epyt-gallery-img-gdpr{
    background-color:#000;
    background-image:-webkit-linear-gradient(top,#000,#444);
    background-image:linear-gradient(to bottom,#000,#444)
}
.epyt-facade{
    position:relative;
    padding-bottom:56.25%;
    height:0;
    overflow:hidden;
    max-width:100%;
    -webkit-transition:.4s all;
    -moz-transition:.4s all;
    transition:.4s all
}
.epyt-facade:hover{
    -webkit-filter:brightness(90%);
    -moz-filter:brightness(90%);
    filter:brightness(90%)
}
.epyt-facade img.epyt-facade-poster{
    display:block;
    margin:0;
    max-width:100%;
    width:100%;
    position:absolute;
    top:48%;
    left:50%;
    transform:translate(-50%,-50%);
    border:0;
    height:auto;
    /*cursor:pointer;*/
    border-radius:30px;
}

.epyt-facade button.epyt-facade-play{
    background-color:transparent!important;
    position:absolute;
    left:50%;
    top:50%;
    width:68px;
    height:48px;
    margin-left:-34px;
    margin-top:-24px;
    -webkit-transition:opacity .25s cubic-bezier(0,0,0.2,1);
    transition:opacity .25s cubic-bezier(0,0,0.2,1);
    cursor:pointer;
    border-width:0!important
}
.epyt-facade button.epyt-facade-play svg{
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    pointer-events:none
}
.epyt-facade button.epyt-facade-play svg .ytp-large-play-button-bg{
    -webkit-transition:fill .1s cubic-bezier(0.4,0,1,1),fill-opacity .1s cubic-bezier(0.4,0,1,1);
    transition:fill .1s cubic-bezier(0.4,0,1,1),fill-opacity .1s cubic-bezier(0.4,0,1,1);
    fill:#212121;
    fill-opacity:.8
}
.epyt-facade:hover button.epyt-facade-play svg .ytp-large-play-button-bg{
    -webkit-transition:fill .1s cubic-bezier(0,0,0.2,1),fill-opacity .1s cubic-bezier(0,0,0.2,1);
    transition:fill .1s cubic-bezier(0,0,0.2,1),fill-opacity .1s cubic-bezier(0,0,0.2,1);
    fill:#f00;
    fill-opacity:1
}
.wp-embed-responsive .wp-block-embed.wp-has-aspect-ratio .wp-block-embed__wrapper .epyt-is-override.epyt-facade{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0
}
.wp-block-embed.wp-has-aspect-ratio .wp-block-embed__wrapper .epyt-is-override.__youtube_prefs_gdpr__{
    position:relative
}
.wp-embed-responsive .wp-block-embed.wp-has-aspect-ratio .wp-block-embed__wrapper .epyt-is-override.__youtube_prefs_gdpr__{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow-y:auto
}
.wp-embed-responsive .wp-block-embed.wp-has-aspect-ratio .wp-block-embed__wrapper.epyt-is-override__wrapper:before{
    padding:0
}
.wp-embed-responsive .wp-block-embed.wp-has-aspect-ratio .wp-block-embed__wrapper.epyt-is-override__wrapper .epyt-is-override.__youtube_prefs_gdpr__{
    position:relative;
    top:unset;
    right:unset;
    bottom:unset;
    left:unset
}
.ytvi-story-container{
    display:block;
    max-width:100%
}



.epyt-contenedor{
    box-sizing: border-box;  
    /*background: #252525;
    border: 2px solid #7D7D7D;
    border-radius: 17px;*/
    margin-top:40px;
    width:100%; 
    margin-left: -78px;
    overflow-y: scroll;
    height: 570px;
    
}

@media screen and (max-width: 400px) {
    .epyt-contenedor{
        margin-left: 20px;
    }
    .epyt-gallery-img {
        width: 95%;
    }
}

@media screen and (min-width: 401px) and (max-width: 450px) {

    .epyt-contenedor{
        margin-left: 20px;
    }
    .epyt-gallery-img {
        width: 95%;
    }
}


@media screen and (min-width: 450px) and (max-width: 550px) {
    
    .epyt-contenedor{
        margin-left: 20px;
    }
    .epyt-gallery-img {
        width: 95%;
    }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
    
    .epyt-contenedor{
        margin-left: 20px;
    }
    .epyt-gallery-img {
        width: 95%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1000px) {

    .epyt-contenedor{
        margin-left: 30px;
    }
    .epyt-gallery-img {
        width: 95%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .epyt-contenedor{
        margin-left: 80px;
    }
    .epyt-gallery-img {
        width: 95%;
    }
}


.epyt-contenedor1{
    box-sizing: border-box;  
    background: #252525;
    border-bottom: 2px solid #7D7D7D;
    border-radius: 17px 17px 0px 0px;
    padding: 20px 20px 5px;
}

.title-bemedia-d{
    /*font-family: 'Inter';*/
    /*font-style: normal;*/
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #FFFFFF;
    text-align: left;
}

.title-bemedia-d1{

    /*font-family: 'Inter';*/
    /*font-style: normal;*/
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
}

.title-bemedia-login{
    /*font-family: 'Inter';*/
    /*font-style: normal;*/
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
    text-align: left;
    margin: 40px auto 30px;
    width: 80%;
}

.input-login{
    width: 233px;
    height: 48px;
    background: #D9D9D9;
    opacity: 0.63;
    border-radius: 18px;
}

.input-login:focus{
 border: 2px solid #7D7D7D;
 color: #000;

}

.input-login::-webkit-input-placeholder {
    text-align: center;
    line-height: 100px;/* Centrado vertical */
  }

.button_login{
    width: 50px;
    height: 48px;
    background: #E0BC4C;
    opacity: 0.84;
    border-radius: 18px;
    margin-bottom: 10px;
}
.login__footer-link{
    /*font-family: 'Inter';*/
    /*font-style: normal;*/
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    color: #C2A446;
}

.login__footer-link:hover{
    /*font-family: 'Inter';*/
    /*font-style: normal;*/
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    color: #fff;
}

.pset{
    overflow: hidden; 
    margin-top: 50px; 
    background: #191919; 
    padding-bottom: 50px; 
    padding-top: 50px;
}

.field{
    margin-bottom: 10px;
}


/*.list-wrapper {
	padding: 15px;
	overflow: hidden;
}

.list-item {
	border: 1px solid #EEE;
	background: #FFF;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.list-item h4 {
	color: #FF7182;
	font-size: 18px;
	margin: 0 0 5px;	
}

.list-item p {
	margin: 0;
}*/

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
    text-align: right;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #fff;
    font-weight:500;
	padding: 5px 10px;
	text-decoration: none;
    border: 1px solid #E0BC4C;
	background-color: #ffffff00;
    border-radius: 10px;
	/*box-shadow: 0px 0px 10px 0px #EEE;*/
}

.simple-pagination li a:hover{
    color: #E0BC4C;
    border: 1px solid #E0BC4C;
	background-color: #ffffff00;
    border-radius: 10px;
}

.simple-pagination .current {
    color: #000;
    font-weight: 500;
	background-color: #E0BC4C;
	border-color: #E0BC4C;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
    color: #000;
	width: 50px;
    height: 48px;
    font-weight: 500;
    background: #E0BC4C;
    opacity: 0.84;
    border-radius: 10px;
    margin-bottom: 10px;
}

.epyt-gallery-title-d-p{
    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
    color: #FFFFFF;
    text-align: left;
    margin-top: 20px;
}

.epyt-gallery-title-d-p-det{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: justify;
    margin-top: 25px;
}

.epyt-gallery-title-d-p-ver{
    /*font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: justify;
    margin-top: 25px;
    font-style: italic;
    text-decoration: none;*/
    padding: 10px 20px;
    color: #fff;
    background-color: #A1862B;
    border-radius: 20px;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
}

.epyt-gallery-title-d-p-ver:hover{
    color: #fff;
}

/* inicio menu interno*/
.nav-articles{
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    height: 70px;
    /*background: #3E8DA8;*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
    z-index: 99;
  }
  .nav-articles .navbar-articles{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
  }
  .navbar-articles .logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .nav-articles .navbar-articles .nav-links-articles{
    line-height: 70px;
    height: 100%;
  }
  .nav-articles .navbar-articles .links-articles{
    display: flex;
  }
  .nav-articles .navbar-articles .links-articles li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
  }
  .nav-articles .navbar-articles .links-articles li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .links-articles li:hover .htmlcss-arrow,
  .links-articles li:hover .js-arrow{
    transform: rotate(180deg);
    }
  
  .nav-articles .navbar-articles .links-articles li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
  .nav-articles .navbar-articles .links-articles li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #191919;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  .nav-articles .navbar-articles .links-articles li:hover .htmlCss-sub-menu,
  .nav-articles .navbar-articles .links-articles li:hover .js-sub-menu{
    display: block;
  }
  .navbar-articles .links-articles li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar-articles .links-articles li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar-articles .links-articles li .sub-menu .more-arrow{
    line-height: 40px;
  }
  .navbar-articles .links-articles li .htmlCss-more-sub-menu{
    /* line-height: 40px; */
  }
  .navbar-articles .links-articles li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links-articles li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar-articles .search-box{
    position: relative;
     height: 40px;
    width: 40px;
  }
  .navbar-articles .search-box i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar-articles .search-box .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #3E8DA8;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .navbar-articles.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #3E8DA8;
  }
  .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #3E8DA8;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
  }
  .search-box .input-box input{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
  }
  .navbar-articles .nav-links-articles .sidebar-logo{
    display: none;
  }
  .navbar-articles .bx-menu{
    display: none;
  }
  @media (max-width:920px) {
    .nav-articles .navbar-articles{
      max-width: 100%;
      padding: 0 25px;
    }
  
    .nav-articles .navbar-articles .logo a{
      font-size: 27px;
    }
    .nav-articles .navbar-articles .links-articles li{
      padding: 0 10px;
      white-space: nowrap;
    }
    .nav-articles .navbar-articles .links-articles li a{
      font-size: 15px;
    }
  }
  @media (max-width:800px){
    nav{
      /* position: relative; */
    }
    .navbar-articles .bx-menu{
      display: block;
    }
    .nav-articles .navbar-articles .nav-links-articles{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background:  #3E8DA8;
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
    .navbar-articles .nav-links-articles .sidebar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sidebar-logo .logo-name{
      font-size: 25px;
      color: #fff;
    }
      .sidebar-logo  i,
      .navbar-articles .bx-menu{
        font-size: 25px;
        color: #fff;
      }
    .nav-articles .navbar-articles .links-articles{
      display: block;
      margin-top: 20px;
    }
    .nav-articles .navbar-articles .links-articles li .arrow{
      line-height: 40px;
    }
  .nav-articles .navbar-articles .links-articles li{
      display: block;
    }
  .nav-articles .navbar-articles .links-articles li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  .nav-articles .navbar-articles .links-articles li .sub-menu li{
    border-bottom: none;
  
  }
  .navbar-articles .links-articles li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar-articles .links-articles li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links-articles li:hover .htmlcss-arrow,
  .links-articles li:hover .js-arrow{
    transform: rotate(0deg);
    }
    .navbar-articles .links-articles li .sub-menu .more-sub-menu{
      display: none;
    }
    .navbar-articles .links-articles li .sub-menu .more span{
      /* background: red; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
    }
  
    .links-articles li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    .nav-articles .navbar-articles .links-articles li:hover .htmlCss-sub-menu,
    .nav-articles .navbar-articles .links-articles li:hover .js-sub-menu{
      display: none;
    }
  .navbar-articles .nav-links-articles.show1 .links-articles .htmlCss-sub-menu,
    .navbar-articles .nav-links-articles.show3 .links-articles .js-sub-menu,
    .navbar-articles .nav-links-articles.show2 .links-articles .more .more-sub-menu{
        display: block;
      }
      .navbar-articles .nav-links-articles.show1 .links-articles .htmlcss-arrow,
      .navbar-articles .nav-links-articles.show3 .links-articles .js-arrow{
          transform: rotate(180deg);
  }
      .navbar-articles .nav-links-articles.show2 .links-articles .more-arrow{
        transform: rotate(90deg);
      }
  }
  @media (max-width:370px){
    .nav-articles .navbar-articles .nav-links-articles{
    max-width: 100%;
  } 
  }
/* fin menu interno*/
.menu-articles{
    text-align: center;
}
